.login {
    box-shadow: 0 0 12px 16px rgba(0, 0, 0, 0.16);
    transition:
        box-shadow 0.2s ease,
        transform 0.2s ease;

    &:hover {
        box-shadow: 0 0 16px 20px rgba(0, 0, 0, 0.16);
    }
}
