/* src/styles/_color.scss */
@use "sass:map";
/* ===== Brand ===== */
$main: (
    primary: #2f9c96,
    secondary: #303030
);

/* ===== Neutral ===== */
$neutral: (
    0: #ffffff,
    1: #f8f9fa,
    2: #e9ecef,
    3: #dee2e6,
    4: #ced4da,
    5: #adb5bd,
    6: #6c757d,
    7: #495057,
    8: #343a40,
    9: #212529,
    10: #000000
);

/* ===== Cyan ===== */
$cyan: (
    0: #d6f9f3,
    1: #acf2e7,
    2: #83ecdc,
    3: #59e5d0,
    4: #30dfc4,
    5: #26b29d,
    6: #1d8676,
    7: #13594e,
    8: #0a2d27
);

/* ===== Blue ===== */
$blue: (
    0: #e3f2fd,
    1: #bbdefb,
    2: #90caf9,
    3: #64b5f6,
    4: #42a5f5,
    5: #2196f3,
    6: #1e88e5,
    7: #1976d2,
    8: #1565c0,
    9: #0d47a1
);

/* ===== Green ===== */
$green: (
    0: #b7efc5,
    1: #92e6a7,
    2: #6ede8a,
    3: #4ad66d,
    4: #2dc653,
    5: #25a244,
    6: #208b3a,
    7: #1a7431,
    8: #155d27,
    9: #10451d
);

/* ===== Red ===== */
$red: (
    0: #fc9ca2,
    1: #fb747d,
    2: #fa4c58,
    3: #f92432,
    4: #e30613,
    5: #c70512,
    6: #9f040e,
    7: #77030b,
    8: #500207
);

/* ===== Orange ===== */
$orange: (
    0: #ffb600,
    1: #ffaa00,
    2: #ff9e00,
    3: #ff9100,
    4: #ff8500,
    5: #ff7900,
    6: #ff6d00,
    7: #ff6000,
    8: #ff5400,
    9: #ff4800
);

@function color($group, $key) {
    @return map.get($group, $key);
}

@mixin generate-colors($group-name, $colors) {
    /* ===== CSS VARIABLES ===== */
    :root {
        @each $key, $value in $colors {
            --color-#{$group-name}-#{$key}: #{$value};
        }
    }

    /* ===== UTILITY CLASSES ===== */
    @each $key, $value in $colors {
        .text-#{$group-name}-#{$key} {
            color: var(--color-#{$group-name}-#{$key});
        }

        .ant-btn.bg-#{$group-name}-#{$key},
        .bg-#{$group-name}-#{$key} {
            background-color: var(--color-#{$group-name}-#{$key});
            transition: background-color 0.2s ease;

            &:hover,
            &.ant-btn:hover {
                background-color: darken($value, 5%);
            }
        }
        .border-#{$group-name}-#{$key} {
            border-color: var(--color-#{$group-name}-#{$key});
        }
    }
}
