/* display.scss */

/* ===== Display ===== */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

/* ===== Flex direction ===== */
.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

/* ===== Justify content ===== */
.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* ===== Align items ===== */
.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-stretch {
    align-items: stretch;
}

/* ===== Align self ===== */
.self-start {
    align-self: flex-start;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

/* ===== Flex wrap ===== */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/* ===== Gap (flex + grid) ===== */
$gaps: 4, 8, 12, 16, 20, 24, 32;

@each $g in $gaps {
    .gap-#{$g} {
        gap: #{$g}px;
    }
}