body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.min-height {
    &-100vh {
        min-height: 100vh;
    }
    &-80vh {
        min-height: 80vh;
    }
}
